@{
    ViewData["Title"] = "Detalle del Problema";
}

<section class="content-header">
    <h1>
        Detalle
        <small>del incidente</small>
    </h1>
</section>

<section class="content">
    <div class="row">
        <!-- /.col -->
        <div class="col-md-12">
            <!-- Widget: user widget style 1 -->
            <div class="box box-widget widget-user">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-olive-active">
                    <h3 class="widget-user-username">Solicitud de ventana de mantenimiento programada y no programada, puede ser realizada por personal de linea, area tecnica o un tercero.</h3>
                    <!--h5 class="widget-user-desc">Founder &amp; CEO</h5-->
                </div>
                <div class="widget-user-image">
                    <img class="image" src="~/AdminLTE/dist/img/llave-inglesa.png" style="border-style: none">
                </div>
                <div class="box-footer">
                    <div class="row">
                        <div class="col-sm-4 border-right">
                            <div class="description-block">
                                <h5 class="description-header">58</h5>
                                <span class="description-text">Código</span>
                            </div>
                            <!-- /.description-block -->
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-4 border-right">
                            <div class="description-block">
                                <h5 class="description-header">23-04-2020</h5>
                                <span class="description-text">Fecha</span>
                            </div>
                            <!-- /.description-block -->
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-4">
                            <div class="description-block">
                                <h5 class="description-header">1</h5>
                                <span class="description-text">Cantidad de incidentes</span>
                            </div>
                            <!-- /.description-block -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
            </div>
            <!-- /.widget-user -->
        </div>
        <!-- /.col -->
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table id="tabla" class="table table-bordered table-striped table-hover" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Orden</th>
                                        <th>Hora Inicio</th>
                                        <th>Hora Término</th>
                                        <th>Tiempo total (min.)</th>
                                        <th>Área</th>
                                        <th>% de progreso al momento del incidente</th>
                                        <th>Tipo de tiempo</th>
                                        <th>Observación</th>

                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td>26328</td>
                                        <td>9:00</td>
                                        <td>9:05</td>
                                        <td>5</td>
                                        <td>Producción</td>
                                        <td style="text-align:center"><span class="badge bg-light-blue">40%</span></td>
                                        <td>Tiempos planeados</td>
                                        <td>Sin observación</td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
    </div>
</section>