@{
    ViewData["Title"] = "Problemas en el proceso de producción";
}

<section class="content-header">
    <h1>
        Incidentes
        <small>en el proceso de produccion</small>
    </h1>
    <h6>Indicadores globales de detencion en desarrollo</h6>
</section>

<!-- Main content -->
<section class="content">

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">

                    <div class="box-tools">
                        <!-- Date range -->
                            <div class="input-group date input-group-sm" style="width: 200px;">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control pull-right" id="datepicker" name="fecha">
                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                    </div>
                </div>

                <!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-bordered">
                        <tr>
                            <th>OF</th>
                            <th>Descripción del producto</th>
                            <th>Cantidad de pausas</th>
                        </tr>
                        <tr>
                            <td><a class="nav-link active" asp-area="" asp-controller="Problemas" asp-action="DetalleProblema">5462649</a></td>
                            <td>Oveja Negra Rva Carmenere Merlot 2019 Corcho 12x750 MEXICO </td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td><a class="nav-link active" asp-area="" asp-controller="Problemas" asp-action="DetalleProblema">3278541</a></td>
                            <td>Oveja Negra Rva Carmenere Merlot 2019 Corcho 12x750 LAT-G7 </td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td><a class="nav-link active" asp-area="" asp-controller="Problemas" asp-action="DetalleProblema">2647826</a></td>
                            <td>Chilensis Reserva Merlot 2019 Corcho 06x750 Colombia </td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td><a class="nav-link active" asp-area="" asp-controller="Problemas" asp-action="DetalleProblema">1234567</a></td>
                            <td>Chilensis Reserva Merlot 2019 Corcho 06x750 Colombia </td>
                            <td>1</td>
                        </tr>
                    </table>
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                    <ul class="pagination pagination-sm no-margin pull-right">
                        <li><a href="#">&laquo;</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">&raquo;</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>