@{
    ViewData["Title"] = "Resumen";
}


<section class="content-header">
    <h1>
        Resumen
        <small>Proceso actual</small>
    </h1>
</section>

<!-- Main content -->
<section class="content resumen-actual">

    <!--Resumen del proceso actual-->

    <div class="row">

        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="datepicker">
                <div class="input-group date">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <input type="text" class="form-control pull-right" id="datepicker" name="fecha" autocomplete="off" onchange="buscarPlanificacion()">
                </div>
            </div>
        </div>

        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <select class="form-control select2" style="width: 100%;" id="numeroOrden" onchange="mostrarOrden()">
                <option disabled selected value="-1">Seleccione una orden</option>
            </select>
        </div>
    </div>

    <div class="row">

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            
            <p>
                <dl class="dl-horizontal" style="color:white">
                    <dt>Cliente</dt>
                    <dd id="cliente">-</dd>
                    <dt>SKU</dt>
                    <dd id="SKU">-</dd>
                    <dt>N° de prioridad</dt>
                    <dd id="secuencia">-</dd>
                    <dt>Cantidad de botellas planificadas</dt>
                    <dd id="cantBotellasPlan">-</dd>
                    <dt>Cantidad de cajas planificada</dt>
                    <dd id="cantCajasPlan">-</dd>
                    <dt>Estado</dt>
                    <dd id="estado">-</dd>
                    <dt>Fecha de fabricación</dt>
                    <dd id="fechaPlan">-</dd>
                    <dt>Formato de caja</dt>
                    <dd id="formatoCaja">-</dd>
                </dl>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-right">
            <p style="color:white;">Última actualización: <span id="horaActualizacionIndicadoresOrden">--:--</span>hrs</p>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="info-box bg-gray">
                <span class="info-box-icon"><i class="fa fa-thumbs-o-up"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Botellas contabilizadas</span>
                    <span class="info-box-number" id="cantBotellas">-</span>

                    <div class="progress" id="progresoBotellas">
                        <!--div class="progress-bar" style="width: 70%"></div-->
                    </div>
                    <span class="progress-description" id="porcentBotellas">-% de avance</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- ./col -->

        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="info-box bg-gray">
                <span class="info-box-icon"><i class="fa fa-bookmark-o"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Cajas contabilizadas</span>
                    <span class="info-box-number" id="cantCajas">-</span>

                    <div class="progress" id="progresoCajas">
                        <!--div class="progress-bar" style="width: 70%"></div-->
                    </div>
                    <span class="progress-description" id="porcentCajas">
                        -% de avance
                    </span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- ./col -->

        <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="info-box bg-gray">
                <span class="info-box-icon"><i class="fa fa-bookmark-o"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Botellas equivalentes</span>
                    <span class="info-box-number" id="cantBotellasEquiv">-</span>

                    <div class="progress" id="progresoBotellasEquiv">
                        <!--div class="progress-bar" style="width: 70%"></div-->
                    </div>
                    <span class="progress-description" id="porcentBotellasEquiv">
                        -% de avance
                    </span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- ./col -->

        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon"><i class="fa fa-star-o"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Cantidad de botella por minuto</span>
                    <span class="info-box-number" id="cantBotellasMin">-</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- ./col -->
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon"><i class="fa fa-files-o"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Cantidad de cajas por minuto</span>
                    <span class="info-box-number" id="cantCajasMin">-</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- ./col -->
    </div>
    <!-- /.row -->
    <!-- Main row -->
    <div class="row">
        <section class="col-xs-12 connectedSortable">
            <!-- Custom tabs (Charts with tabs)-->
            <div class="nav-tabs-custom">
                <!-- Tabs within a box -->
                <ul class="nav nav-tabs pull-right">
                    <li class="pull-left header"><i class="fa fa-inbox"></i> Cantidad de botellas y cajas por minuto</li>
                </ul>

                <div id="chartdiv1"></div>

                <div class="tab-content no-padding">


                </div>
            </div>
            <!-- /.nav-tabs-custom -->
        </section>
        <!-- Left col -->
    </div>
    <!-- /.row (main row) -->
</section>



<section class="content-header">
    <h1>
        Resumen
        <small>Del día</small>
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-lg-12 text-right">
            <p style="color:black;">Última actualización: <span id="horaActualizacionIndicadoresDia">--:--</span>hrs</p>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-gray">
                <span class="info-box-icon"><i class="fa fa-thumbs-o-up"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Botellas contabilizadas</span>
                    <span class="info-box-number" id="cantBotellasDia">-</span>

                    <div class="progress" id="progresoBotellasDia">
                        <!--div class="progress-bar" style="width: 15%"></div-->
                    </div>
                    <span class="progress-description" id="porcentBotellasDia">-% de avance</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- ./col -->

        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-gray">
                <span class="info-box-icon"><i class="fa fa-bookmark-o"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Cajas contabilizadas</span>
                    <span class="info-box-number" id="cantCajasDia">-</span>

                    <div class="progress" id="progresoCajasDia">
                        <!--div class="progress-bar" style="width: 70%"></div-->
                    </div>
                    <span class="progress-description" id="porcentCajasDia">-% de avance</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- ./col -->

        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-gray">
                <span class="info-box-icon"><i class="fa fa-calendar"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Ordenes Finalizadas</span>
                    <span class="info-box-number" id="cantOrdenesDia">-</span>

                    <div class="progress" id="progresoOrdenesDia">
                        <!--div class="progress-bar" style="width: 0%"></div-->
                    </div>
                    <span class="progress-description" id="porcentOrdenesDia">-% de avance</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->

        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-gray">
                <span class="info-box-icon"><i class="fa fa-comments-o"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Avance por hora</span>
                    <span class="info-box-number" id="porcentajePorHora">-%</span>

                    <!--span class="info-box-number">30</span-->

                    <div class="progress" id="progresoPorHora">
                        <!--div class="progress-bar" style="width: 5%"></!div-->
                    </div>
                    <span class="progress-description" id="horaPorcentaje">Hora del avance: --:--</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
    </div>

    <div class="row">
        <section class="col-xs-12 connectedSortable">
            <!-- Custom tabs (Charts with tabs)-->
            <div class="nav-tabs-custom">
                <!-- Tabs within a box -->
                <ul class="nav nav-tabs pull-right">
                    <li class="pull-left header"><i class="fa fa-inbox"></i> Cantidad de botellas y cajas por hora</li>
                </ul>
                <div class="tab-content no-padding">
                    <!-- Morris chart - Sales -->
                    <!--div class="chart tab-pane active" id="revenue-chart" style="position: relative; height: 300px;"></div-->
                    <div id="chartdiv2"></div>
                </div>
            </div>
            <!-- /.nav-tabs-custom -->
        </section>
        <!-- /.Left col -->
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Resumen de ordenes</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="tabla" class="table table-bordered display dt-responsive" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Prioridad</th>
                                <th>Orden</th>
                                <th>Cliente</th>
                                <th>Fecha de fabricación</th>
                                <th>Estado</th>
                                <th>Progreso</th>
                                <th style="width: 40px">% del progreso</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-alerta">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-red">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="title-alert"></h4>
                </div>
                <div class="modal-body">
                    <p id="body-alert"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn bg-black" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <div class="modal fade" id="modal-confirm">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-purple">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="title-confirm"></h4>
                </div>
                <div class="modal-body">
                    <p id="body-confirm"></p>
                </div>
                <div class="modal-footer">
                    <button id="btnConfirm" type="button" class="btn bg-black" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->


    <div id="myModal" class="modalFP" style="display: none;">
        <!-- Modal content -->
        <div class="modal-contentFP">
            <img src="~/img/cargando1.gif" style="opacity:0.8; width:40%; height:30%; margin-top: 30%;" />
        </div>
    </div>
    <!-- /.modal -->
</section>

<style>
    .event a {
        background-color: #560f3d !important;
        color: #ffffff !important;
    }
    .modalFP {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 100000; /* Sit on top */
        padding-top: 150px; /* Location of the box */
        padding-bottom: 150px;
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgba(0,0,0, 0.4); /* Fallback color */
        background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-contentFP {
        background: url("~/../../img/tenor.gif") no-repeat;
        background-color: rgba(254,254,254,0.4);
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 340px;
        height: 340px;
        text-align: center;
        border-radius: 30px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
</style>

<script src="https://unpkg.com/moment"></script>
<!--   Datatables-->
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.js"></script>
<!-- extension responsive -->
<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
<!--Acciones para las ordenes e indicadores-->
<script type="text/javascript" src="~/js/resumen.js"></script>

<!-- Graficos -->
<script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/charts.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/dataviz.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>

<script>
    $(document).ready(function ()
    {
        fechasOrdenes();
        buscarPlanificacion();
        document.getElementById("horaActualizacionIndicadoresOrden").innerHTML = obtenerHora();
        document.getElementById("horaActualizacionIndicadoresDia").innerHTML = obtenerHora();
        $.fn.DataTable.ext.pager.numbers_length = 5;
    });
</script>

<style>
    #chartdiv1 {
        width: 100%;
        height: 350px;
    }

    #chartdiv2 {
        width: 100%;
        height: 350px;
    }
</style>

