@{
    ViewData["Title"] = "Resumen";
}


<section class="content-header">
    <h1>
        Resumen
        <small>Proceso actual</small>
    </h1>
</section>

<!-- Main content -->
<section class="content resumen-actual">

    <!--Resumen del proceso actual-->

    <div class="row">

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="form-group">
                <select class="form-control select2" id="numeroOrden" onchange="seleccionarOrden()">
                    <option disabled selected value="null">Seleccione una orden</option>
                </select>
            </div>
            <p>
                <dl class="dl-horizontal" style="color:white">
                    <dt>Cliente</dt>
                    <dd id="cliente">-</dd>
                    <dt>SKU</dt>
                    <dd id="SKU">-</dd>
                    <dt>N° de prioridad</dt>
                    <dd id="secuencia">-</dd>
                    <dt>Cantidad de botellas planificadas</dt>
                    <dd id="cantBotellasPlan">-</dd>
                    <dt>Cantidad de cajas planificada</dt>
                    <dd id="cantCajasPlan">-</dd>
                    <dt>Estado</dt>
                    <dd id="estado">-</dd>
                </dl>
            </p>
        </div>
        <!-- ./col -->
        <!--div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="small-box bg-gray">
                <div class="inner">
                    <h3>70<sup style="font-size: 20px">%</sup></h3>
                    <p>Avance del proceso</p>
                </div>
                <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                </div>
                <a href="#" class="small-box-footer">
                    More info <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div-->
        <!-- ./col -->
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-gray">
                <span class="info-box-icon"><i class="fa fa-thumbs-o-up"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Botellas finalizadas</span>
                    <span class="info-box-number" id="cantBotellas">-</span>

                    <div class="progress" id="progresoBotellas">
                        <!--div class="progress-bar" style="width: 70%"></div-->
                    </div>
                    <span class="progress-description" id="porcentBotellas">-% de avance</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- ./col -->

        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-gray">
                <span class="info-box-icon"><i class="fa fa-bookmark-o"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Cajas finalizadas</span>
                    <span class="info-box-number" id="cantCajas">-</span>

                    <div class="progress" id="progresoCajas">
                        <!--div class="progress-bar" style="width: 70%"></div-->
                    </div>
                    <span class="progress-description" id="porcentCajas">
                        -% de avance
                    </span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- ./col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon"><i class="fa fa-star-o"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Cantidad de botella por minuto</span>
                    <span class="info-box-number" id="cantBotellasMin">-</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- ./col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon"><i class="fa fa-files-o"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Cantidad de cajas por minuto</span>
                    <span class="info-box-number" id="cantCajasMin">-</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- ./col -->
    </div>
    <!-- /.row -->
    <!-- Main row -->
    <div class="row">
        <section class="col-xs-12 connectedSortable">
            <!-- Custom tabs (Charts with tabs)-->
            <div class="nav-tabs-custom">
                <!-- Tabs within a box -->
                <ul class="nav nav-tabs pull-right">
                    <li class="pull-left header"><i class="fa fa-inbox"></i> Cantidad de botellas y cajas por hora</li>
                </ul>
                <div class="tab-content no-padding">
                    <!-- Morris chart - Sales -->
                    <div class="chart tab-pane active" id="revenue-chart" style="position: relative; height: 200px;"></div>
                </div>
            </div>
            <!-- /.nav-tabs-custom -->
        </section>
        <!-- Left col -->
    </div>
    <!-- /.row (main row) -->
</section>



<section class="content-header">
    <h1>
        Resumen
        <small>Del día</small>
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-gray">
                <span class="info-box-icon"><i class="fa fa-thumbs-o-up"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Botellas finalizadas</span>
                    <span class="info-box-number" id="cantBotellasDia">-</span>

                    <div class="progress" id="progresoBotellasDia">
                        <!--div class="progress-bar" style="width: 15%"></div-->
                    </div>
                    <span class="progress-description" id="porcentBotellasDia">-% de avance</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- ./col -->

        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-gray">
                <span class="info-box-icon"><i class="fa fa-bookmark-o"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Cajas finalizadas</span>
                    <span class="info-box-number" id="cantCajasDia">-</span>

                    <div class="progress" id="progresoCajasDia">
                        <!--div class="progress-bar" style="width: 70%"></div-->
                    </div>
                    <span class="progress-description" id="porcentCajasDia">-% de avance</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- ./col -->

        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-gray">
                <span class="info-box-icon"><i class="fa fa-calendar"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Ordenes Finalizadas</span>
                    <span class="info-box-number" id="cantOrdenesDia">-</span>

                    <div class="progress" id="progresoOrdenesDia">
                        <!--div class="progress-bar" style="width: 0%"></div-->
                    </div>
                    <span class="progress-description" id="porcentOrdenesDia">-% de avance</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->

        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-gray">
                <span class="info-box-icon"><i class="fa fa-comments-o"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Avance por hora</span>
                    <span class="info-box-number" id="porcentajePorHora">-%</span>

                    <!--span class="info-box-number">30</span-->

                    <div class="progress" id="progresoPorHora">
                        <!--div class="progress-bar" style="width: 5%"></!div-->
                    </div>
                    <span class="progress-description" id="horaPorcentaje">Hora del avance: --:--</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
    </div>

    <div class="row">
        <section class="col-xs-12 connectedSortable">
            <!-- Custom tabs (Charts with tabs)-->
            <div class="nav-tabs-custom">
                <!-- Tabs within a box -->
                <ul class="nav nav-tabs pull-right">
                    <li class="pull-left header"><i class="fa fa-inbox"></i> Cajas por hora</li>
                </ul>
                <div class="tab-content no-padding">
                    <!-- Morris chart - Sales -->
                    <!--div class="chart tab-pane active" id="revenue-chart" style="position: relative; height: 300px;"></div-->
                    <div id="chartdiv"></div>
                </div>
            </div>
            <!-- /.nav-tabs-custom -->
        </section>
        <!-- /.Left col -->
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Resumen de ordenes</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="tabla" class="table table-bordered table-striped table-hover" style="width:100%">
                        <thead>
                            <tr>
                                <th>Prioridad</th>
                                <th>Orden</th>
                                <th>Cliente</th>
                                <th>Estado</th>
                                <th>Progreso</th>
                                <th style="width: 40px">% del progreso</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Styles -->
<style>
    #chartdiv {
        width: 100%;
        height: 350px;
    }
</style>


<!--Acciones para las ordenes e indicadores-->
<script type="text/javascript" src="~/js/resumen.js"></script>
<script>
    function seleccionarOrden() {
        var modelo = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model, Newtonsoft.Json.Formatting.Indented));
        mostrarOrden(modelo);
    }
</script>

<script>
    $(document).ready(function ()
    {
        var modelo = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model,Newtonsoft.Json.Formatting.Indented));
        iniciarOrdenesSelect(modelo);
        indicadoresDia();
        indicadorCantBotellasHora();
        $.fn.DataTable.ext.pager.numbers_length = 4;
        mostrarTablaOrdenes();
    });
</script>


<script>
    function actualizarIndicadores() {
        var modelo = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model, Newtonsoft.Json.Formatting.Indented));
        var ordenSelect = document.getElementById("numeroOrden");
        var numeroOrden = ordenSelect.options[ordenSelect.selectedIndex].value;
        for (var i = 0; modelo!=null && i < modelo.length; i++) {
            if (modelo[i]["Estado"] == 1 && numeroOrden == modelo[i]["OrdenFabricacion"]) {
                //monitoreoBotellas(numeroOrden);
                //monitoreoCajas(numeroOrden);
                indicadorCantCajas(numeroOrden, modelo[i]["CajasPlanificadas"]);
                indicadorCantBotellas(numeroOrden, modelo[i]["BotellasPlanificadas"]);
                indicadorVelocidadBotellas(numeroOrden);
                indicadorVelocidadCajas(numeroOrden);
                //indicadoresVelocidad(numeroOrden)
                break;
            }
        }
        indicadoresDia();
    }
    setInterval(actualizarIndicadores, 60*1000);

    function actualizarIndicadorHora()
    {
        indicadorCantBotellasHora();
    }
    setInterval(actualizarIndicadorHora, 60*60*1000);
</script>







<!-- Resources -->
<script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/charts.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/dataviz.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>

<!-- Chart code -->
<script>
    am4core.ready(function () {

        // Themes begin
        am4core.useTheme(am4themes_dataviz);
        am4core.useTheme(am4themes_animated);
        // Themes end

        // Create chart
        var chart = am4core.create("chartdiv", am4charts.XYChart);
        chart.paddingRight = 20;

        chart.data = generateChartData();

        var dateAxis = chart.xAxes.push(new am4charts.DateAxis());
        dateAxis.baseInterval = {
            "timeUnit": "minute",
            "count": 1
        };
        dateAxis.tooltipDateFormat = "HH:mm, d MMMM";

        var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
        valueAxis.tooltip.disabled = true;
        valueAxis.title.text = "Cantidad de cajas";
        valueAxis.renderer.ticks.template.disabled = true;

        var series = chart.series.push(new am4charts.LineSeries());
        series.dataFields.dateX = "fecha";
        series.dataFields.valueY = "cajas";
        series.tooltipText = "Cajas: [bold]{valueY}[/]";
        series.fillOpacity = 0.3;

        var bullet = series.bullets.push(new am4charts.CircleBullet());
        bullet.circle.radius = 6;
        bullet.circle.fill = am4core.color("#fff");
        bullet.circle.strokeWidth = 3;


        chart.cursor = new am4charts.XYCursor();
        chart.cursor.lineY.opacity = 0;
        chart.scrollbarX = new am4charts.XYChartScrollbar();
        chart.scrollbarX.series.push(series);


        dateAxis.start = 0.8;
        dateAxis.keepSelection = true;



        function generateChartData() {
            var chartData = [];
            // obtiene la fecha actual
            var firstDate = new Date();
            // obtiene la hora de 500 min antes
            firstDate.setMinutes(firstDate.getDate() - 500);

            // genera 500 instancias de datos
            var cajas = 500;
            for (var i = 0; i < 500; i += 30) {
                var nuevaFecha = new Date(firstDate);
                // genera el minto en que se obtiene la caja
                nuevaFecha.setMinutes(nuevaFecha.getMinutes() + i);
                // genera un numero random que sera el numero de cjas por hora
                cajas += Math.round((Math.random() < 0.5 ? 1 : -1) * Math.random() * 10);
                // agrega los datos a un arreglo
                chartData.push({
                    fecha: nuevaFecha,
                    cajas: cajas
                });
            }
            return chartData;
        }

    }); // end am4core.ready()
</script>