@model IEnumerable<ViaWines_Automatizacion.Models.Orden>

@{
    ViewData["Title"] = "Proceso";

}



<section class="content-header">
    <div class="">
        <h1>
            Proceso
            <small>del pedido</small>
        </h1>
    </div>
</section>

<section class="content">
    <div class="row">
        <!--div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <select class="form-control select2" style="width: 100%;" id="tipoOrden" onchange="cambiarTipo()">
                <option selected value="1">Ordenes abiertas</option>
                <option value="2">Ordenes futuras</option>
            </select>
        </div-->

        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="datepicker">
                <div class="input-group date">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <input type="text" class="form-control pull-right" id="datepicker" name="fecha" autocomplete="off" onchange="obtenerOrdenes()">
                </div>
            </div>
        </div>

        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <select class="form-control select2" style="width: 100%;" id="numeroOrden" onchange="mostrarOrden()">
                <option disabled selected value="-1">Seleccione una orden</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-right">
            <p style="color:black;">Última actualización: <span id="horaActualizacionIndicadoresOrden">--:--</span>hrs</p>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="info-box bg-gray">
                <span class="info-box-icon"><i class="fa fa-thumbs-o-up"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Botellas contabilizadas</span>
                    <span class="info-box-number" id="cantBotellas">-</span>

                    <div class="progress" id="progresoBotellas">
                        <!--div class="progress-bar" style="width: 70%"></div-->
                    </div>
                    <span class="progress-description" id="porcentBotellas">-% de avance</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- ./col -->

        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="info-box bg-gray">
                <span class="info-box-icon"><i class="fa fa-bookmark-o"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Cajas finalizadas</span>
                    <span class="info-box-number" id="cantCajas">-</span>

                    <div class="progress" id="progresoCajas">
                        <!--div class="progress-bar" style="width: 70%"></div-->
                    </div>
                    <span class="progress-description" id="porcentCajas">
                        -% de avance
                    </span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- ./col -->
        <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="info-box bg-gray">
                <span class="info-box-icon"><i class="fa fa-bookmark-o"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Botellas equivalentes</span>
                    <span class="info-box-number" id="cantBotellasEquiv">-</span>

                    <div class="progress" id="progresoBotellasEquiv">
                        <!--div class="progress-bar" style="width: 70%"></div-->
                    </div>
                    <span class="progress-description" id="porcentBotellasEquiv">
                        -% de avance
                    </span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- ./col -->
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon"><i class="fa fa-star-o"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Cantidad de botella por minuto</span>
                    <span class="info-box-number" id="cantBotellasMin">-</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- ./col -->
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon"><i class="fa fa-files-o"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Cantidad de cajas por minuto</span>
                    <span class="info-box-number" id="cantCajasMin">-</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- ./col -->
    </div>
    <!-- /.row -->
    <!-- Small boxes (Stat box) -->
    <!--div class="row">

    </div-->
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12" style="padding-left:11px; padding-right:11px; padding-bottom:15px;">
            <div class="col-lg-12 col-md-12 col-sm-6 col-xs-6" style="padding:1%;">
                <button type="button" id="btnInicio" class="btn btn-block bg-purple" style="height:45px">Inicio</button>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-6 col-xs-6" style="padding:1%;">
                <button type="button" id="btnPausar" class="btn btn-block bg-orange" style="height:45px">Pausar</button>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-6 col-xs-6" style="padding:1%;">
                <button type="button" id="btnPosponer" class="btn btn-block bg-maroon" style="height:45px">Posponer</button>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-6 col-xs-6" style="padding:1%;">
                <button type="button" id="btnFinalizar" class="btn btn-block bg-olive" style="height:45px">Finalizar</button>
            </div>
        </div>
        <!-- ./col -->

        <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <i class="fa fa-text-width"></i>
                    <h3 class="box-title">Descripción de la orden</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <dl class="dl-horizontal">
                        <dt>SKU</dt>
                        <dd id="SKU">-</dd>
                        <dt>Descripción del producto</dt>
                        <dd id="descripcionProducto">-</dd>
                        <dt>Cantidad de cajas planificadas</dt>
                        <dd id="cantCajasPlan">-</dd>
                        <dt>Cantidad de botellas planificadas</dt>
                        <dd id="cantBotellasPlan">-</dd>
                        <dt>Hora de inicio</dt>
                        <dd id="fechaHoraInicio">-</dd>
                        <dt>Hora de término</dt>
                        <dd id="fechaHoraTermino">-</dd>
                        <dt>Fecha planificada</dt>
                        <dd id="fechaPlan">-</dd>
                        <dt>Formato de caja</dt>
                        <dd id="formatoCaja">-</dd>
                        <dt>Estado</dt>
                        <dd id="estado">-</dd>

                    </dl>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- ./col -->

    </div>



    <div class="row">
        <div class="col-md-6">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Monitoreo de etiquetado de botellas</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="tablaBotellas" class="table table-bordered display dt-responsive" cellpadding="0" width="100%">
                        <thead>
                            <tr>
                                <th style="width: 10px">#</th>
                                <th>Fecha y hora de término</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->

        <div class="col-md-6">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Monitoreo de cajas</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="tablaCajas" class="table table-bordered display dt-responsive" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th style="width: 10px">#</th>
                                <th>Fecha y hora de término</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->

    <div class="modal fade" id="modal-inicio">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-purple">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="title-ini-process"></h4>
                </div>
                <div class="modal-body">
                    <p id="body-ini-process"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancelar</button>
                    <button type="button" id="btnInicioProceso" class="btn bg-black">Aceptar</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->


    <div class="modal fade" id="modal-pausar">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-orange">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="title-pause-process"></h4>
                </div>
                <div class="modal-body">
                    <p id="body-pause-process"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancelar</button>
                    <button type="button" id="btnPausarProceso" class="btn bg-black">Aceptar</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->


    <div class="modal fade" id="modal-posponer">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-maroon">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="title-postpone-process"></h4>
                </div>
                <div class="modal-body">
                    <p id="body-postpone-process"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancelar</button>
                    <button type="button" id="btnPosponerProceso" class="btn bg-black">Aceptar</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->


    <div class="modal fade" id="modal-finalizar">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-olive">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="title-finalize-process"></h4>
                </div>
                <div class="modal-body">
                    <p id="body-finalize-process"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancelar</button>
                    <button type="button" id="btnFinalizarProceso" class="btn bg-black">Aceptar</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->



    <div class="modal fade" id="modal-alerta">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-red">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="title-alert"></h4>
                </div>
                <div class="modal-body">
                    <p id="body-alert"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn bg-black" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <div class="modal fade" id="modal-confirm">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-purple">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="title-confirm"></h4>
                </div>
                <div class="modal-body">
                    <p id="body-confirm"></p>
                </div>
                <div class="modal-footer">
                    <button id="btnConfirm" type="button" class="btn bg-black" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <div id="myModal" class="modalFP" style="display: none;">
        <!-- Modal content -->
        <div class="modal-contentFP">
            <img src="~/img/cargando1.gif" style="opacity:0.8; width:40%; height:30%; margin-top: 30%;" />
        </div>
    </div>
</section>


<!--script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script-->
<script src="https://unpkg.com/moment"></script>
<!--   Datatables-->
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.js"></script>
<!-- extension responsive -->
<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
<script type="text/javascript" src="~/js/proceso.js"></script>

<script>
    $('#btnInicio').click(function () { exist_proces_ini(1); });
    $('#btnInicioProceso').click(function () { Actualizar_Estado(1); });
    $('#btnPausar').click(function () { exist_proces_ini(2); });
    $('#btnPausarProceso').click(function () { Actualizar_Estado(2); });
    $('#btnPosponer').click(function () { exist_proces_ini(3); });
    $('#btnPosponerProceso').click(function () { Actualizar_Estado(3); });
    $('#btnFinalizar').click(function () { exist_proces_ini(4); });
    $('#btnFinalizarProceso').click(function () { Actualizar_Estado(4); });
    $('#btnConfirm').click(function () { location.reload(); });
</script>

<style>
    .ordenesDia a {
        background-color: #560f3d !important;
        color: #ffffff !important;
    }
</style>

<style>
    .ordenesFuturas a {
        background-color: #ea9409 !important;
        color: #ffffff !important;
    }
</style>

<style>
    .modalFP {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 100000; /* Sit on top */
        padding-top: 150px; /* Location of the box */
        padding-bottom: 150px;
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgba(0,0,0, 0.4); /* Fallback color */
        background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-contentFP {
        background: url("~/../../img/tenor.gif") no-repeat;
        background-color: rgba(254,254,254,0.4);
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 340px;
        height: 340px;
        text-align: center;
        border-radius: 30px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
</style>


<script>
    $.extend($.fn.dataTable.defaults, {
        'destroy': true,
        'responsive': true,
        'dom': "Bfrtip",
        'searching': false,
        'ordering': true,
        'info': false,
        'autoWidth': true,
        'paging': true,
        'scrollX': false,
        'lengthChange': false,
        'processing': true,
        'iDisplayLength': 5,
        'language': {
            "decimal": "",
            "emptyTable": "No hay información",
            "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
            "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
            "infoFiltered": "(Filtrado de _MAX_ total entradas)",
            "infoPostFix": "",
            "thousands": ",",
            "lengthMenu": "Mostrar _MENU_ Entradas",
            "loadingRecords": "Cargando...",
            "processing": "Procesando...",
            "search": "Buscar:",
            "zeroRecords": "Sin resultados encontrados",
            "paginate": {
                "first": "Primero",
                "last": "Ultimo",
                "next": "Siguiente",
                "previous": "Anterior"
            }
        }
    });
    $(document).ready(function ()
    {
        /*var modelo = Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model,Newtonsoft.Json.Formatting.Indented));
        iniciarOrdenesSelect(modelo);*/
        document.getElementById("horaActualizacionIndicadoresOrden").innerHTML = obtenerHora();
        $.fn.DataTable.ext.pager.numbers_length = 4;
        //cambiarTipo();
        obtenerOrdenesAbiertas();
    });
</script>

