@model ViaWines_Automatizacion.Models.Usuario
@{
    Layout = null;
}



<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Meta -->
    <meta name="description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="author" content="ThemePixels">

    <title>Via Wines</title>

    <!-- vendor css -->
    <link href="~/lib/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="~/lib/ionicons/css/ionicons.min.css" rel="stylesheet">

    <!-- Bracket CSS -->
    <link rel="stylesheet" href="~/css/bracket.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>

<body>
    <div class="d-flex align-items-center justify-content-center ht-100v">
        <video id="headVideo" class="pos-absolute a-0 wd-100p ht-100p object-fit-cover" autoplay muted loop>
            <source src="~/Video/ViaWines.mp4" type="video/mp4">
        </video><!-- /video -->

        <div class="overlay-body bg-black-3 d-flex align-items-center justify-content-center">
            <div class="login-wrapper wd-300 wd-xs-350 pd-25 pd-xs-40 rounded bg-black-6" style="display:none" id="login">
                <span class="logo-mini"><img src="https://viawines.com/wp-content/uploads/2018/11/logo_blanco.png" class="brandlogo-image" style="width:250px;"></span>

                <!--div class="signin-logo tx-center tx-28 tx-bold tx-white" style="background: rgba(255, 255, 255, 0.2); border-radius: 25px;"><span class="tx-normal">[</span> Via<span class="tx-info">Wines</span> <span class="tx-normal">]</span></!-div-->

                <div class="tx-white-5 tx-center mg-b-40"> </div>

                <!--form action="Url.Content("~/Usuario/CambioClaveTemporal")" method="post"-->
                <form>
                    <div class="form-group">
                        <label>Clave temporal</label>
                        <div class="input-group">
                            <input type="password" id="claveTemporal" class="form-control fc-outline-dark" name="claveTemporal" placeholder="Ingrese su clave temporal" autocomplete="off" required>
                            <span class="input-group-btn">
                                <button type="button" id="verClaveActual" class="btn btn-info btn-flat" onclick="mostrarClaveActual()"><span id="iconoClaveActual" class="fa fa-eye-slash icon"></span></button>
                            </span>
                        </div>
                    </div><!-- form-group -->

                    <div class="form-group">
                        <label>Nueva clave</label>
                        <div class="input-group">
                            <input type="password" id="nuevaClave" class="form-control fc-outline-dark" name="nuevaClave" placeholder="Ingrese su nueva clave" autocomplete="off" required>
                            <span class="input-group-btn">
                                <button type="button" id="verNuevaClave" class="btn btn-info btn-flat" onclick="mostrarNuevaClave()"><span id="iconoNuevaClave" class="fa fa-eye-slash icon"></span></button>
                            </span>
                        </div>
                    </div><!-- form-group -->

                    <div class="form-group">
                        <label>Confirmación de nueva clave</label>
                        <div class="input-group">
                            <input type="password" id="nuevaClaveConfirmada" class="form-control fc-outline-dark" name="nuevaClaveConfirmada" placeholder="Ingrese nuevamente su clave" autocomplete="off" required>
                            <span class="input-group-btn">
                                <button type="button" id="verNuevaConfirmada" class="btn btn-info btn-flat" onclick="mostrarNuevaClaveConfirmada()"><span id="iconoNuevaClaveConfirmada" class="fa fa-eye-slash icon"></span></button>
                            </span>
                        </div>
                    </div><!-- form-group -->

                    <div class="form-group">
                        <div class="alert-danger">
                            @ViewBag.Error
                        </div>
                        <br>
                    </div><!-- form-group -->

                    <div class="row mg-t-5">
                        <div class="form-group col-lg-6 col-md-12 col-xs-12">
                            <a class="btn btn-secondary" style="width:100%" asp-area="" asp-controller="Usuario" asp-action="Login">Cancelar</a>
                            <!--button class="btn btn-secondary" id="Cancelar" style="width:100%">Cancelar</button-->
                        </div>

                        <div class="form-group col-lg-6 col-md-12 col-xs-12">
                            <button type="button" class="btn btn-info" id="btnCambiarClave" style="width:100%">Cambiar clave</button>
                        </div>
                    </div>
                </form>
            </div><!-- login-wrapper -->


        </div><!-- overlay-body -->
    </div><!-- d-flex -->

    <div class="modal fade" id="modal-clave-cambiada">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content tx-size-sm">
                <div class="modal-body tx-center pd-y-20 pd-x-20">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <i class="icon ion-ios-checkmark-outline tx-100 tx-success lh-1 mg-t-20 d-inline-block"></i>
                    <h4 class="tx-success mg-b-20" id="title-clave-cambiada"></h4>
                    <p class="mg-b-20 mg-x-20" id="body-clave-cambiada"></p>
                    <a class="btn btn-success tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium mg-b-20" asp-area="" asp-controller="Usuario" asp-action="Logout">Continuar</a>
                </div><!-- modal-body -->
            </div>
        </div>
    </div>

    <!--Muestra el mensaje de que la contraseña ya se ha cambiado-->
    <div class="modal fade" id="modal-confirmar-cambiar-clave">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content tx-size-sm">
                <div class="modal-body tx-center pd-y-20 pd-x-20">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <i class="ionicons ion-ios-help-outline tx-100 tx-success lh-1 mg-t-20 d-inline-block"></i>
                    <h4 class="tx-success mg-b-20" id="title-confirm-cambiar-clave"></h4>
                    <p class="mg-b-20 mg-x-20" id="body-confirm-cambiar-clave"></p>
                    <button type="button" id="btnConfirmarCambiarClave" class="btn btn-success tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium mg-b-20">
                        Continuar
                    </button>
                </div><!-- modal-body -->
            </div>
        </div>
    </div>

    <!--Muestra un mensaje de error-->
    <div id="modal-alerta" class="modal fade">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content tx-size-sm">
                <div class="modal-body tx-center pd-y-20 pd-x-20">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <i class="icon icon ion-ios-close-outline tx-100 tx-danger lh-1 mg-t-20 d-inline-block"></i>
                    <h4 class="tx-danger  tx-semibold mg-b-20" id="title-alert"></h4>
                    <p class="mg-b-20 mg-x-20" id="body-alert"></p>
                    <button type="button" class="btn btn-danger tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium mg-b-20" data-dismiss="modal" aria-label="Close">
                        Continuar
                    </button>
                </div><!-- modal-body -->
            </div><!-- modal-content -->
        </div><!-- modal-dialog -->
    </div><!-- modal -->


    <!--Pregunta si desea cambiar la contraseña-->
    <div class="modal fade" id="modal-alerta">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body tx-center pd-y-20 pd-x-20">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <!--i class="far fa-question-circle"></i-->
                    <i class="ionicons ion-ios-help-outline tx-100 tx-success lh-1 mg-t-20 d-inline-block"></i>
                    <h4 class="tx-success mg-b-20" id="title-alert"></h4>
                    <p class="mg-b-20 mg-x-20" id="body-alert"></p>
                    <button type="button" data-dismiss="modal" class="btn btn-success tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium mg-b-20">
                        Continar
                    </button>
                </div><!-- modal-body -->
            </div>
        </div>
    </div>

    <!-- /.modal -->
    <!-- jQuery -->
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <!-- BS JavaScript -->
    <!--script type="text/javascript" src="js/bootstrap.js"></script-->
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/claveTemporal.js"></script>
    <!--script src="~/lib/jquery/jquery.min.js"></script-->
    <!--script src="~/lib/jquery-ui/ui/widgets/datepicker.js"></script-->
    <!--script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script-->
    <script>
        $(function () {
            'use strict';
            // Check if video can play, and play it
            var video = document.getElementById('headVideo');
            video.addEventListener('canplay', function () {
                video.play();
            });
        });
    </script>

    <script class="">
        $(document).ready(function () {
            setTimeout(function () {
                $("#login").fadeIn(2000);
                $('#title-alert').text("Alerta");
                $('#body-alert').text('Se debe cambiar su clave ya que es temporal. Favor de actualizarla para iniciar sesión.');
                $("#modal-alerta").modal("show");
            }, 2500);
        });
    </script>
</body>
</html>
