@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor;

@{
    ViewData["Title"] = "Planificación";
}


<section class="content-header">
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <h1>
                Planificación
                <small>Del día</small>
            </h1>
        </div>
    </div>
</section>


<section class="content">
    <div class="row">
        <div class="form-group col-md-4 col-xs-12">
            <select class="form-control select2" style="width: 100%;" id="tipoOrden" onchange="cambiarTipo()">
                <option selected value="1">Ordenes abiertas</option>
                <option value="2">Ordenes futuras</option>
                <option value="3">Todas las ordenes</option>
            </select>
        </div>

        <div class="form-group col-md-4 col-xs-12">
            <div class="datepicker">
                <div class="input-group date">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <input type="text" class="form-control pull-right" id="datepicker" name="fecha" autocomplete="off" onchange="buscarPlanificacion()">
                </div>
            </div>
        </div>
        @if (ViaWines_Automatizacion.DbAutomatizacionViaWines.ConsultaUsuario.Leer_Rol_Operacion(@HttpContextAccessor.HttpContext.Session.GetString("Rol"), 2) == 1)
        { 
            <div class="form-group col-md-4 col-xs-12">
                <p>
                    <button type="button" id="btnAgregarOrdenes" class="btn btn-block bg-purple">Agregar nuevas ordenes desde SAP</button>
                </p>
            </div>
        }

    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">
                    <!--table id="tabla" class="table table-bordered table-striped table-hover display-1 nowrap"-->
                    <table id="tabla" class="table table-bordered display dt-responsive" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Secuencia</th>
                                <th>Orden</th>
                                <th>Version</th>
                                <th>Cliente</th>
                                <th>SKU</th>
                                <th class="none">Descripción</th>
                                <th>Cant. Botellas</th>
                                <th class="none">Cant. Botellas contabilizadas</th>
                                <th>Cant. Cajas</th>
                                <th class="none">Cant. Cajas contabilizadas</th>
                                <th>Fecha Fabricación</th>
                                <th class="none">Fecha y hora de inicio</th>
                                <th class="none">Fecha y hora de término</th>
                                <th>Estado</th>
                                <th>% de avance</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->


    <div class="modal fade" id="modal-agregar-ordenes">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-purple">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="title-ini-process">Agregrar nueva orden</h4>
                </div>
                <div class="modal-body">

                    <div class="row">

                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="datepicker">
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text" class="form-control pull-right clsDatePicker" id="datepickerAgregar" autocomplete="off" onchange="obtenerOrdenes()">
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <select class="form-control select2" style="width: 100%;" id="numeroOrden" onchange="mostrarOrden()">
                                <option disabled selected value="null">Seleccione una orden</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="box box-solid">
                                <div class="box-header with-border">
                                    <i class="fa fa-text-width"></i>
                                    <h3 class="box-title">Descripción de la orden</h3>
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body">
                                    <dl class="dl-horizontal">
                                        <dt>SKU</dt>
                                        <dd id="SKU"></dd>
                                        <dt>Descripción del producto</dt>
                                        <dd id="descripcionProducto"></dd>
                                        <dt>Cantidad de cajas planificadas</dt>
                                        <dd id="cantCajasPlan"></dd>
                                        <dt>Cantidad de botellas planificadas</dt>
                                        <dd id="cantBotellasPlan"></dd>
                                        <dt>Fecha planificada</dt>
                                        <dd id="fechaPlan"></dd>

                                    </dl>
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <!-- /.box -->
                        </div>
                        <!-- ./col -->
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancelar</button>
                    <button type="button" id="btnAgregarOrden" class="btn bg-black">Agregar</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->







    <div class="modal fade" id="modal-confirm">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-purple">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="title-confirm"></h4>
                </div>
                <div class="modal-body">
                    <p id="body-confirm"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn bg-black" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <div class="modal fade" id="modal-confirmar-Agregar-orden">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-purple">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="title-confirm-agregar-orden"></h4>
                </div>
                <div class="modal-body">
                    <p id="body-confirm-agregar-orden"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancelar</button>
                    <button type="button" id="btnConfirmarAgregarOrden" class="btn bg-black">Aceptar</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <div class="modal fade" id="modal-alerta">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-red">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="title-alert"></h4>
                </div>
                <div class="modal-body">
                    <p id="body-alert"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn bg-black" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <div id="myModal" class="modalFP" style="display: none;">
        <!-- Modal content -->
        <div class="modal-contentFP">
            <img src="~/img/cargando1.gif" style="opacity:0.8; width:40%; height:30%; margin-top: 30%;" />
        </div>
    </div>

</section>
<!-- /.content -->




<style>
    .modalFP {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 100000; /* Sit on top */
        padding-top: 150px; /* Location of the box */
        padding-bottom: 150px;
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgba(0,0,0, 0.4); /* Fallback color */
        background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-contentFP {
        background: url("~/../../img/tenor.gif") no-repeat;
        background-color: rgba(254,254,254,0.4);
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 340px;
        height: 340px;
        text-align: center;
        border-radius: 30px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
</style>

<style>
    .ordenesDia a {
        background-color: #560f3d !important;
        color: #ffffff !important;
    }
</style>

<style>
    .ordenesFuturas a {
        background-color: #78981a !important;
        color: #ffffff !important;
    }

    .clsDatePicker {
        z-index: 1600 !important;
    }
</style>

<script src="https://unpkg.com/moment"></script>
<!--   Datatables-->
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.js"></script>
<!-- extension responsive -->
<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
<script type="text/javascript" src="~/js/planificacion.js"></script>



<script>
    $('#btnAgregarOrdenes').click(function () {
        resetear();
        $('#modal-agregar-ordenes').modal('show');
        fechasOrdenesAgregar();
        obtenerOrdenes()
    });

    $('#btnAgregarOrden').click(function () {
        $('#title-confirm-agregar-orden').text("Agregrar nueva orden");
        $('#body-confirm-agregar-orden').text("¿Está seguro que desea agregar la orden N°" + $('#numeroOrden').val() + " del día " + $("#datepickerAgregar").datepicker({ dateFormat: 'yy-mm-dd' }).val() + "?");
        $("#modal-confirmar-Agregar-orden").modal("show");
    });

    $('#btnConfirmarAgregarOrden').click(function () {
        $("#modal-confirmar-Agregar-orden").modal("hide");
        agregarOrdenesNuevas();
    });
    $(document).ready(function () {
        $.fn.DataTable.ext.pager.numbers_length = 5;
        cambiarTipo();
    });
</script>







