@model IEnumerable<ViaWines_Automatizacion.Models.Orden>

@{
    ViewData["Title"] = "Planificación";
}


<!--section class="content-header">
    <div class="row">
        <div class="col-xs-12 col-md-8">
            <h1>
                Planificación
                <small>Del día</small>
            </h1>
        </div>

        <div class="col-xs-12 col-md-4" style="margin-top:19px">
            @using (Html.BeginForm("Planificacion", "Planificacion", FormMethod.Post))
            {
                <div class="datepicker">
                    <div class="input-group date input-group-sm">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input type="text" class="form-control pull-right" id="datepicker" name="fecha">
                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section-->


<section class="content-header">
    <div class="row">
        <div class="col-xs-12 col-md-8">
            <h1>
                Planificación
                <small>Del día</small>
            </h1>
        </div>

        <div class="col-xs-12 col-md-4">
            <div class="datepicker col-xs-12 col-md-6" style="margin-top:19px">
                <div class="input-group date input-group-sm">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <input type="text" class="form-control pull-right" id="datepicker" name="fecha" autocomplete="off" onchange="buscarPlanificacion()">
                    <!--div class="input-group-btn">
                        <button type="button" class="btn btn-default" id="obtenerOrdenes" onclick="buscarPlanificacion()"><i class="fa fa-search"></i></button>
                    </div-->
                </div>
            </div>
            <div class="col-xs-12 col-md-6" style="margin-top:19px">
                <p>
                    <button type="button" id="btnAgregarOrdenes" class="btn btn-block btn-sm bg-purple">Agregar nuevas ordenes</button>
                </p>
            </div>
        </div>
    </div>
</section>


<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">
                    <!--table id="tabla" class="table table-bordered table-striped table-hover display-1 nowrap"-->
                    <table id="tabla" class="table table-bordered display dt-responsive" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Secuencia</th>
                                <th>Orden</th>
                                <th>Version</th>
                                <th>Cliente</th>
                                <th>SKU</th>
                                <th>Descripción</th>
                                <th>Cant. Botellas</th>
                                <th>Cant. Botellas Fabricadas</th>
                                <th>Cant. Cajas</th>
                                <th>Cant. Cajas Fabricadas</th>
                                <th>Fecha Fabricación</th>
                                <th>Fecha y hora de inicio</th>
                                <th>Fecha y hora de término</th>
                                <th>Estado</th>
                                <th>% de avance</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->



    <div class="modal fade" id="modal-confirm">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-purple">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="title-confirm"></h4>
                </div>
                <div class="modal-body">
                    <p id="body-confirm"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn bg-black" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->




    <div class="modal fade" id="modal-alerta">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-red">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="title-alert"></h4>
                </div>
                <div class="modal-body">
                    <p id="body-alert"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn bg-black" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->




    <div id="myModal" class="modalFP" style="display: none;">
        <!-- Modal content -->
        <div class="modal-contentFP">
            <img src="~/img/cargando1.gif" style="opacity:0.8; width:40%; height:30%; margin-top: 30%;" />
        </div>
    </div>

</section>
<!-- /.content -->




<style>
    .modalFP {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 100000; /* Sit on top */
        padding-top: 150px; /* Location of the box */
        padding-bottom: 150px;
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgba(0,0,0, 0.4); /* Fallback color */
        background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-contentFP {
        background: url("~/../../img/tenor.gif") no-repeat;
        background-color: rgba(254,254,254,0.4);
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 340px;
        height: 340px;
        text-align: center;
        border-radius: 30px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
</style>

<style>
    .event a {
        background-color: #560f3d !important;
        color: #ffffff !important;
    }
</style>

<script src="https://unpkg.com/moment"></script>
<!--   Datatables-->
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.js"></script>
<!-- extension responsive -->
<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
<script type="text/javascript" src="~/js/planificacion.js"></script>

<script>
    $('#btnAgregarOrdenes').click(function () { agregarOrdenesNuevas(); });
</script>

<script>
    //var fecha = "28/04/2020";

    $(document).ready(function () {

        planificacionDisponible()
        var fecha = fechaActual();
        seleccionarBuscarPlanificacion(fecha);

    });


</script>


<script>
    function buscarPlanificacion() {
        var fecha = $("#datepicker").datepicker({ dateFormat: 'yy-mm-dd' }).val();
        seleccionarBuscarPlanificacion(fecha);
    }
</script>






