@{
    ViewData["Title"] = "Detalle del Problema";
}

<section class="content-header">
    <h1>
        Detalle
        <small>del incidente</small>
    </h1>
</section>

<section class="content">
    <div class="row">
        <!-- /.col -->
        <div class="col-md-12">
            <!-- Widget: user widget style 1 -->
            <div class="box box-widget widget-user">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-olive-active">
                    <h3 class="widget-user-username" id="descripcion">-</h3>
                    <!--h5 class="widget-user-desc">Founder &amp; CEO</h5-->
                </div>
                <div class="widget-user-image">
                    <img class="image" src="~/AdminLTE/dist/img/llave-inglesa.png" style="border-style: none">
                </div>
                <div class="box-footer">
                    <div class="row">
                        <div class="col-sm-4 border-right">
                            <div class="description-block">
                                <h5 class="description-header" id="idIncidencia">-</h5>
                                <span class="description-text">Código</span>
                            </div>
                            <!-- /.description-block -->
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-4 border-right">
                            <div class="description-block">
                                <h5 class="description-header" id="fechaIncidencia">-</h5>
                                <span class="description-text">Fecha</span>
                            </div>
                            <!-- /.description-block -->
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-4">
                            <div class="description-block">
                                <h5 class="description-header" id="cantIncidentes">-</h5>
                                <span class="description-text">Cantidad de incidentes</span>
                            </div>
                            <!-- /.description-block -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
            </div>
            <!-- /.widget-user -->
        </div>
        <!-- /.col -->
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table id="OPI" class="table table-bordered display dt-responsive" cellpadding="0" width="100%">
                                <thead>
                                    <tr>
                                        <th data-priority="1">Id</th>
                                        <th data-priority="1">Orden</th>
                                        <th>Fecha y hora inicio</th>
                                        <th>Fecha y hora término</th>
                                        <th>Tiempo total (min.)</th>
                                        <th class="none">% de progreso al momento del incidente</th>
                                        <th class="none">Estado de la orden</th>
                                        <th>Observación</th>
                                        <th data-priority="1">Acciones</th>
                                    </tr>
                                </thead>

                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
    </div>

    <div class="modal fade" id="modal-confirm-finalizar">
        <div class="modal-dialog">
            <div class="modal-content">
                <div id="modal-header-confirm-finalizar" class="modal-header bg-orange">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="title-confirm-finalizar"></h4>
                </div>
                <div class="modal-body">
                    <p id="body-confirm-finalizar"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancelar</button>
                    <button id="btnConfirmFinalizar" type="button" class="btn bg-black">Aceptar</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <div class="modal fade" id="modal-confirm">
        <div class="modal-dialog">
            <div class="modal-content">
                <div id="modal-header-confirm" class="modal-header bg-olive">
                    <h4 class="modal-title" id="title-confirm"></h4>
                </div>
                <div class="modal-body">
                    <p id="body-confirm"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnConfirm" class="btn bg-black" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <div class="modal fade" id="modal-alerta">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-red">
                    <h4 class="modal-title" id="title-alert"></h4>
                </div>
                <div class="modal-body">
                    <p id="body-alert"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn bg-black" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <div id="myModal" class="modalFP" style="display: none;">
        <!-- Modal content -->
        <div class="modal-contentFP">
            <img src="~/../../../img/cargando1.gif" style="opacity:0.8; width:40%; height:30%; margin-top: 30%;" />
        </div>
    </div>

    <div class="modal fade" data-backdrop="static" data-keyboard="false" id="modal-Incidencia">
        <div class="modal-dialog">
            <div class="modal-content">
                <div id="modal-header-incicente" class="modal-header bg-orange">
                    <h4 class="modal-title" id="title-incidencia">Modificar observación incidencia</h4>
                </div>
                <div class="modal-body">

                    <!---------------------------incidencia por codigo---------------------------------->

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="descripcionIncidente1">
                        <div class="box box-solid">
                            <div class="box-header with-border">
                                <i class="fa fa-text-width"></i>
                                <h3 class="box-title">Detalle de la incidencia</h3>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <dl class="dl-horizontal">
                                    <dt>Id Incidente</dt>
                                    <dd id="idIncidente">-</dd>
                                    <dt>N° orden</dt>
                                    <dd id="numeroOrden">-</dd>
                                    <dt>Fecha y hora de inicio</dt>
                                    <dd id="fechaHoraInicioDetalle">-</dd>
                                    <dt>Fecha y hora de término</dt>
                                    <dd id="fechaHoraTerminoDetalle">-</dd>
                                    <dt>Tipo de tiempo</dt>
                                    <dd id="nombreAgrupacionTiempo">-</dd>
                                    <dt>Clasificación</dt>
                                    <dd id="descripcionClasificacion">-</dd>
                                    <dt>Aclaración</dt>
                                    <dd id="aclaracionClasificacion">-</dd>
                                    <dt>Nombre zona</dt>
                                    <dd id="nombreZona">-</dd>
                                </dl>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                    </div>
                    <!-- ./col -->
                    <!---------------------------fin incidencia por codigo---------------------------------->

                    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12" id="observaciondiv">
                        <input class="form-control" type="text" placeholder="Ingrese una observación clara de la falla..." id="observacion">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancelar</button>
                    <button type="button" id="btnConfirmModIncidencia" class="btn bg-black">Aceptar</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

</section>

<style>
    .modalFP {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 100000; /* Sit on top */
        padding-top: 150px; /* Location of the box */
        padding-bottom: 150px;
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgba(0,0,0, 0.4); /* Fallback color */
        background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
    }

    /* Modal Content */
.modal-contentFP { background: url("~/../../../img/tenor.gif") no-repeat; background-color: rgba(254,254,254,0.4); margin: auto; padding: 20px; border: 1px solid #888; width: 340px; height: 340px; text-align: center; border-radius: 30px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }
</style>

<!--script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script-->
<script src="https://unpkg.com/moment"></script>
<!--   Datatables-->
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.js"></script>
<!-- extension responsive -->
<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
<script src="~/js/detalleIncidente.js"></script>

<script>
    $.extend($.fn.dataTable.defaults, {
        'destroy': true,
        'responsive': true,
        'dom': "Bfrtip",
        'searching': false,
        'ordering': true,
        'info': false,
        'autoWidth': true,
        'paging': true,
        'scrollX': false,
        'lengthChange': false,
        'processing': true,
        'iDisplayLength': 10,
        'language': {
            "decimal": "",
            "emptyTable": "No hay información",
            "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
            "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
            "infoFiltered": "(Filtrado de _MAX_ total entradas)",
            "infoPostFix": "",
            "thousands": ",",
            "lengthMenu": "Mostrar _MENU_ Entradas",
            "loadingRecords": "Cargando...",
            "processing": "Procesando...",
            "search": "Buscar:",
            "zeroRecords": "Sin resultados encontrados",
            "paginate": {
                "first": "Primero",
                "last": "Ultimo",
                "next": "Siguiente",
                "previous": "Anterior"
            }
        }
    });
    $(document).ready(function () {
        $.fn.DataTable.ext.pager.numbers_length = 4;
        obtenerRegistrosIncidentes();
    });
</script>